# Data Structures

1. What are data structures, and why are they important?
    - data structures like lists, tuples, sets, and dictionaries organize data efficiently, making storage, retrieval, and manipulation easier.

2. Explain the difference between mutable and immutable data types with examples.
    - Mutable types like list, dictionary etc can be modified after creation, while immutable types like tuple, str, int cannot be changed.

3. What are the main differences between lists and tuples in Python3?
    - A list is mutable and allows modifications, while a tuple is immutable and generally faster.

4. Describe how dictionaries store data.
    - Dictionaries are stored ashash tables to store data as key: value pairs, allowing quick access by keys.

5. Why might you use a set instead of a list in Python3
    - A set automatically removes duplicates and provides faster membership checking

6. What is a string in Python, and how is it different from a list?
    - A string is an immutable sequence of characters, while a list is a mutable sequence of items of any type.

7. How do tuples ensure data integrity in Python?
    - Since tuples are immutable, their contents cannot be altered, ensuring fixed, reliable data storage.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table maps keys to values using a hash function, and Python’s dict is implemented using this structure.

9. Can lists contain different data types in Python?
    - Yes, a list can contain mixed data types, e.g., [1, "hello", 3.5].

10. Explain why strings are immutable in Python?
    - Strings are immutable to ensure memory efficiency, thread-safety, and to allow their use as dictionary keys

11. What advantages do dictionaries offer over lists for certain tasks?
    - dict provides O(1) lookups by key, while lists require O(n) searches for values.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Use a tuple for fixed data like coordinates (x, y)

13. How do sets handle duplicate values in Python?
    - A set stores only unique values, automatically discarding duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?
    - For a list, in checks if a value exists; for a dict, in checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, because tuple is immutable—its contents cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dict has dictionaries inside it, e.g., students = {"John": {"age": 20, "grade": "A"}}

17. Describe the time complexity of accessing elements in a dictionary?
    - Average case access in a dict is O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?
    - Use a list when order matters, duplicates are needed, or index-based access is required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    -> Before Python 3.7, dictionaries were unordered; from 3.7+, insertion order is preserved, but retrieval is still by key, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list retrieves elements by index, while a dict retrieves elements by key.

In [1]:
# 01. Write a code to create a string with your name and print it

name = "Palash Rammaiya"
print(name)

Palash Rammaiya

In [2]:
# 02. Write a code to find the length of the string "Hello World"

string = "Hello World"
print(len(string))

11

In [3]:
# 03. Write a code to slice the first 3 characters from the string "Python Programming"

s = "Python Programming"
print(s[0:3])

Pyt

In [4]:
# 04. P Write a code to convert the string "hello" to uppercase

st = "hello"
print(st.upper())

HELLO

In [5]:
 # 05. Write a code to replace the word "apple" with "orange" in the string "I like apple"

 string = "I like apple"
 print(string.replace("apple", "orange"))

I like orange

In [6]:
# 06. Write a code to create a list with numbers 1 to 5 and print it

l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [7]:
# 07. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
# 08. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# 09. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

ele = (100,200,300 )
print(ele)

(100, 200, 300)

In [14]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [15]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

t = (10,20,5,15)
print(min(t))

5

In [17]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

i = ('dog', 'cat', 'rabbit')
print(i.index('cat'))

1

In [19]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t =('kiwi', 'banana', 'orange')
print("kiwi" in t)

True

In [20]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [21]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

e = {1,2,3,4,5}
e.clear()
print(e)

set()

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

f = {1,2,3,4}
f.remove(4)
print(f)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [24]:
# 20. 0. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

c = {1,2,3}
d = {2,3,4}
print(c.intersection(d))

{2, 3}

In [26]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic = {"name": "Palash", "age": 30, "city": "Kolkata"}
print(dic)

{'name': 'Palash', 'age': 30, 'city': 'Kolkata'}

In [27]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic = {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [29]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic["age"]
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dic = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [32]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

import random
lst = random.sample(range(1,101), 5)
lst.sort()
print(lst)

[43, 46, 52, 72, 86]

In [35]:
# 28.  Write a code to create a list with strings and print the element at the third index

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [36]:
# 29.  Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
# 30.  Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
word_set = set(words)
print(word_set)